* {
  margin: 0;
  padding: 0;
}
.landingContainer {
  min-height: 100vh;
}
.animationContainer {
  height: 100vh;
  width: 100%;
  position: relative;
  animation: displayNone 0.2s forwards 2s;
}
@keyframes displayNone {
  to {
    height: 0;
    width: 0;
  }
}
.logo {
  height: 120px;
  width: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo img {
  height: 100%;
  width: 100%;
}
.goodThings {
  display: flex;
  color: rgba(120, 120, 120, 1);
  text-transform: capitalize;
}
.goodThings .thing:hover {
  opacity: 1;
}
.goodThings .thing {
  opacity: 0.8;
  display: flex;
}

.goodThings .thing + .thing {
  margin-left: 40px;
}
.mainContainer {
  width: 90%;
  min-height: 100vh;
  max-width: 1260px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  padding: 60px;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  cursor: pointer;
}
.buttons {
  display: flex;
  align-items: center;
}

.primary,
.secondary {
  width: 275px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #665635;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.primary {
  background: rgba(253, 187, 52, 0.71);
}
.secondary {
  background-color: rgba(237, 237, 237, 1);
  margin: 0 20px;
  opacity: 0.8;
}
.mainContents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  min-height: calc(100vh - 400px);
  padding: 60px;
}
.leftSide {
  max-width: 75%;
}
.textContents {
  max-width: 80%;
}

.title {
  color: #0e4353;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.desc {
  margin-top: 30px;
  color: #666;
  font-size: 16px;
  font-style: normal;
  line-height: 25px;
}

.leftSide .buttons {
  margin-top: 85px;
}
.goodThings {
  margin-top: 30px;
}
.buttonIcon {
  margin-right: 10px;
}
.support {
  margin-right: 20px;
  background-color: rgba(237, 237, 237, 1);
  border-radius: 10px;
  height: 50px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.7;
}
.button {
  cursor: pointer;
}
.support:hover {
  opacity: 1;
}

.primary:hover {
  background: rgba(253, 187, 52, 1);
}
.secondary:hover {
  opacity: 1;
}
.Example-highlights {
  padding-right: 5px;
  padding-left: 5px;
  background-color: rgba(0, 200, 255, 0.2);
  text-decoration-color: rgb(0, 200, 255);
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  line-height: 110%;
  cursor: pointer;
}
.exmp2 {
  background-color: rgba(255, 132, 0, 0.2);
  text-decoration-color: rgb(255, 132, 0, 1);
}
.signout {
  background-color: rgb(218, 102, 59);
  color: #fff;
  text-transform: capitalize;
  opacity: 0.8;
}
.signout:hover {
  background-color: rgb(218, 102, 59);
  color: #fff;
  text-transform: capitalize;
  opacity: 1;
}
@media screen and (max-width: 800px) {
  .mainContents {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .textContents {
    max-width: 100%;
  }
  .leftSide {
    max-width: 100%;
    margin-top: 50px;
    text-align: center;
  }
  .goodThings {
    justify-content: center;
    align-items: left;
    flex-direction: column;
  }
  .thing {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 600px) {
  .support {
    width: 60px;
    margin-right: 10px;
  }

  .leftSide .buttons {
    flex-direction: column;
    width: 100%;
  }
  .leftSide .button {
    width: 100%;
  }
  .leftSide .button + .button {
    margin-top: 10px;
  }

  .nav,
  .mainContents {
    padding-left: 10px;
    padding-right: 10px;
  }
  .title {
    font-size: 50px;
  }
  .nav .primary {
    width: 200px;
  }
}

@media screen and (max-width: 440px) {
  .nav .primary {
    width: 200px;
  }
  .support {
    display: none;
  }
}
