.wrapper-highlighter-highlight {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  font-style: italic;
  line-height: 102%;
  border-radius: 3px;
  background-blend-mode: lighten;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer-highlighter {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100000;

  color: #333;
}

.disposer-highlighter {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.018);
  /* filter: blur(20px); */
  backdrop-filter: blur(5px);
  z-index: 1;
}
.searchContainer-highlighter {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 50px;
  width: 60%;
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;

  max-height: calc(100% - 100px);
  overflow-y: scroll;
}

.searchInput-highlighter {
  height: 50px;
  border: none;
  background-color: transparent;
  padding: 20px;
  border-radius: 2px;
  font-size: 18px;
  outline: 2px solid #d3d3d3;
}

.resultContainer-highlighter {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 10px;
  transition: 0.5 all;
}
.result-highlighter,
.addBtn-highlighter {
  padding: 10px 25px;
  border-radius: 2px;
  font-size: 18px;
  cursor: pointer;
  text-transform: capitalize;
  opacity: 0.8;
}
.result-highlighter:hover {
  background-color: #f1f1f1;
  opacity: 1;
}
.activeResult-highlighter {
  background-color: #444444;
  color: white;
}
.activeResult-highlighter:hover {
  opacity: 1;
  background-color: #444444;
  color: white;
}

.addBtn-highlighter {
  justify-content: space-between;
}

.result-highlighter {
  height: max-content;
}

.result-highlighter:hover .highlightedData-sideSection-highlighter {
  opacity: 1;
}
.highlightedData-liveLocate-highlighter {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 5px 7px;
  border-radius: 3px;
  opacity: 0.7;
  border: 2px solid #33333343;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.highlightedData-liveLocate-icon-highlighter {
  background: url("./openExternalLink.svg");
  height: 24px;
  width: 24px;
  margin-left: 10px;
}
.highlightedData-liveLocate-highlighter:hover {
  opacity: 1;
}

.highlightedData-topic-highlighter {
  font-size: 24px;
  font-weight: bolder;
  color: #333;
}
.highlightedData-domain-highlighter,
.highlightedData-topic-highlighter,
.highlightedData-data-highlighter {
  text-transform: none;
}

.highlightedData-domain-highlighter,
.highlightedData-timeStamp-highlighter {
  font-size: 14px;
  color: #3366cc;
  font-weight: normal;
}
.highlightedData-data-highlighter {
  font-size: 18px;
  color: #272727;
  margin-top: 20px;
}
.highlightedData-timeStamp-highlighter {
  color: #606060;
  margin-top: 20px;
}

.highlightedData-upperContainer-highlighter,
.highlightedData-sideSection-highlighter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.highlightedData-sideSection-highlighter {
  justify-content: right;
  opacity: 0;
}

.highlightedData-selectedColor-highlighter {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 20px;
}

/* initial screen */
.highlightedData-initialImage-highlighter {
  background: url("./arrow.svg") no-repeat center;
  height: 300px;
  background-size: contain;
}

.highlightedData-noSearch-highlighter {
  background: url("./noSearch.png") no-repeat center;
  background-size: contain;
  height: 400px;
  width: 100%;
}

.result-highlighter-initial {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.highlightedData-initialImage-highlighter {
  width: 100%;
}

.highlightedData-initialMsg-title-highlighter {
  text-align: center;
  font-size: 34px;
  margin-top: 40px;
  font-weight: bolder;
  color: #656565;
  text-transform: capitalize;
}

.highlightedData-initialMsg-desc-highlighter {
  margin-top: 10px;
  text-transform: capitalize;
  color: #7e7e7e;
  padding-bottom: 50px;
}

/* highlighted data hover effect */

.wrapper-highlighter-highlight-hover-container {
  padding: 10px;
  background: white;
  width: max-content;
  border-radius: 5px;
  color: #333;
  text-decoration: none !important;
  position: absolute;
  transition: 0.25s;
  opacity: 0;
}

.wrapper-highlighter-highlight-hover-topic {
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
}

.wrapper-highlighter-highlight-hover-bottom-wrapper {
  font-style: normal;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.wrapper-highlighter-highlight-hover-color {
  height: 20px;
  width: 20px;
  margin-left: 20px;
  border-radius: 10px;
  border: 2px solid #cdcdcd;
}
